<title>Merci !</title>
{% block body %}
<link rel="stylesheet" href="/assets/stylesheets/contact.css">
<body>
    <div class="confirm">
        <h2>Votre message a bien été envoyé, nous vous recontacterons bientôt.</h2>
        <a class="aRetour" href="/">Retourner à la page d'accueil</a>
    </div>

</body>
{% endblock %}