{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}
{% block body %}
<link rel="stylesheet" href="/assets/stylesheets/contact.css">
<body>

{% if app.user and app.user.droitUtil == 1 %}

<div class="formList">


<h1>Liste des formulaires de contact</h1>
<div class="tableContainer">
    <table>
        <th>ID Contact</th>
        <th>Utilisateur</th>
        <th>Sujet</th>
        <th>Message</th>

    {% for contact in contacts %}
        <tr>
            <td>{{contact.id}}</td>
            <td>{{contact.idUtilContact}}</td>
            <td>{{contact.sujetContact}}</td>
            <td>{{contact.messageContact}}</td>
        </tr>
    {% endfor %}

    </table>
</div>
{% else %}
    <p>Vous n'avez pas le droit de consulter les formulaires de contact envoyés.</p>
{% endif %}
</div>
</body>
{% endblock %}