{% extends 'base.html.twig' %}

{% block title %}Hello ConfidentialiteController!{% endblock %}

{% block body %}

<link rel="stylesheet" href="/assets/stylesheets/confidentialite.css">

<h1>Politique de confidentialité</h1>

<div class="container">
    <p>
        Dernière mise à jour : 19 octobre 2023
    </p>
       
    <p>
        Nous, Chauda, sommes déterminés à respecter la confidentialité et la sécurité de vos informations personnelles. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons les informations que vous nous fournissez via notre site web et notre formulaire d'inscription. En utilisant notre site web et en soumettant vos informations personnelles, vous consentez à cette politique de confidentialité.
    </p>

    <br>
    <ul>1. Informations collectées</ul>
    <p>Nous collectons les informations suivantes lorsque vous utilisez notre site web et que vous soumettez le formulaire d'inscription :

        <li>Nom</li>
        <li>Prénom</li>
        <li>Adresse e-mail</li>
    </p>
    <br>
    <ul>2. Utilisation des informations</ul>
    <p>Nous utilisons les informations collectées pour les finalités suivantes :

        <li>Vous contacter : Nous utiliserons votre adresse e-mail pour vous envoyer des informations relatives à nos services, des mises à jour et des promotions. Vous pouvez à tout moment vous désinscrire de nos communications en utilisant le lien de désabonnement inclus dans nos e-mails.</li>
        <br>
        <li>Fournir des services : Nous utiliserons vos informations pour répondre à vos demandes de services et de renseignements concernant notre entreprise.</li>
        <br>
        <li>Amélioration de notre site web : Nous pouvons utiliser des informations agrégées et anonymisées pour améliorer la convivialité et les fonctionnalités de notre site web.</li>
    </p>
    <br>
    <br>
    <ul>3. Protection des informations</ul>
    <p>Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre la perte, l'accès non autorisé, la divulgation, l'altération et la destruction. Cependant, aucune méthode de transmission ou de stockage électronique n'est totalement sécurisée, et nous ne pouvons garantir la sécurité absolue de vos informations.
    </p>
    <br>
    <ul>4. Partage d'informations</ul>
    <p>Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers, sauf dans les cas suivants :

        <li>Si nécessaire pour fournir les services que vous avez demandés</li>
        <br>
        <li>Si requis par la loi ou par une autorité gouvernementale.</li>
        <br>
        <li>Avec des prestataires de services tiers agissant en notre nom, sous réserve de contrats de confidentialité appropriés.</li>
    </p>
    <br>
</div>

{% endblock %}
